body {
  margin: 0;
  overflow: hidden;
  background-color: #000;
}

canvas {
  display: block;
}

.controls {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 100; /* Ensure controls appear on top of the canvas */
}

/* Music Control Button */
#music-toggle-btn {
  padding: 10px 15px;
  font-size: 1em;
  font-family: 'Press Start 2P', cursive;
  color: #fff;
  background-color: #000;
  border: 2px solid #fff;
  cursor: pointer;
  transition: all 0.2s ease;
}

#music-toggle-btn:hover {
  background-color: #333;
}